@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: only light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-averia: var(--font-averia);
  --font-montserrat: var(--font-montserrat);
  --font-lato: var(--font-lato);
  --font-roboto: var(--font-roboto);
  --font-playfair: var(--font-playfair);
}

@theme {
  --color-mieregri: #DCC7A6;
  --color-mierealbastru: #294376;
  --color-mierelight: #EADECA;
  --color-mierealbastrulight: #516790;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}